@charset "utf-8";


/*全デバイス共通のスタイルとスマートフォン向けレイアウトの指定*/
body {
  background-color: pink;
}
h1{
  color: white;
  font-size: 36px;
}



/* タブレット向けレイアウト指定 */
@media screen and (min-width: 768px) {
	
/* ここに768px以上のCSSを記述 */
body {
  background-color: red;
}

}

/* PC向けレイアウトの指定 */
@media screen and (min-width:960px) {

/* ここに960px以上の場合のCSSを記述 */
body {
  background-color: blue;
}


}